---
import Layout from '../layouts/Layout.astro';
import { contentfulClient } from '../lib/contentful';
import type { Document } from '@contentful/rich-text-types';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';

const entries = await contentfulClient.getEntries({
  content_type: 'concert',
});

// Présentation
const texte = (await entries.items[0].fields?.texte) as Document;
const texteContent = texte ? documentToHtmlString(texte) : '';
---

<Layout title="Contact | Cassiopée Astro" pageClass="contact-page">
  <section class="container">
    <h1 class="c-global-title">Contact</h1>
    <div class="c-global-text-container">
      <Fragment set:html={texteContent} />
    </div>
  </section>
</Layout>

<style is:global>
  .contact-page {
    main {
      flex: 0;
    }

    .container {
      max-width: 1300px;
      margin: 0 auto;
      padding-inline: 1rem;
    }
  }
</style>
