---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mentions Légales | Cassiopée Astro">
	<div class="container">
		<h1>Mentions Légales</h1>
	</div>
</Layout>

<style>
	.container {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: 1200px;
	}

	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1em;
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
