---
const { flip } = Astro.props;
---

{
  flip ? (
    <div class="wave-separator flip">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
          class="shape-fill"
        />
      </svg>
    </div>
  ) : (
    <div class="wave-separator">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
          class="shape-fill"
        />
      </svg>
    </div>
  )
}

<style>
  .wave-separator {
    position: relative;
    z-index: -1;
    width: 100vw;
    line-height: 0;
    overflow: hidden;

    svg {
      position: relative;
      left: -87%;
      display: block;
      width: calc(189%);
      height: 180px;
    }

    .shape-fill {
      fill: #ffffff;
    }
  }

  .wave-separator.flip {
    margin-top: 0;
    transform: scaleY(-1);

    svg {
      width: calc(230%);
      height: 140px;
    }
  }

  @media (max-width: 980px) {
    .wave-separator,
    .wave-separator.flip {
      svg {
        height: 90px;
      }
    }
  }
</style>
